{% extends "base.html" %}

{% block content %}

  <div class="container">
    <div class=" page-title">
      <h1>Kirsten Corrao</h1>
    </div>
    
    <div class="row mx-3 my-3">
        <div class="col-sm text-center">
          <h6>BS in Computer Science (12/2020)</h6>
        </div>
        <div class="col-sm text-center">
          <h6>BS in Natural Resources (2017)</h6>
        </div>
        <div class="col-sm text-center">
          <h6>AA in Chinese (2008)</h6>
        </div>
    </div>

    <div class="row justify-content-center mx-3 my-3">
      <img class="rounded" src="/public/me_small.jpg" alt="Me backpacking in the Canadian Rockies">
    </div>
    <div class="row justify-content-center mx-3 my-3"></div>
      <p>I'm a GIS Analyst Intern looking for a full-time role in software development or GIS. I'm a US Air Force veteran, earned a BS in natural resources from the University of British Columbia, and am two classes away from completing a BS in computer science through Oregon State University's online program. I decided to pursue a computer science degree, rather than a GIS certificate, because scripting and web development are only going to become more important in GIS applications.</p>

      <p>Through my coursework and current internship, I have gained experience in several programming languages, frameworks, and technologies. My top languages are Python, JavaScript, and SQL (although C++ will always hold a special place in my heart as my first programming language). I'm experienced with ESRI products, especially ArcGIS Pro, ArcMap, and Collector. I've worked with Model Builder, ArcPy, and many Python libraries to automate tasks. I love a good web map and enjoy replacing tedious tasks with scripts.</p>

      <p>When not working or studying, I love spending time in the great outdoors, camping in my Japanese import van, and cruising around town on my bicycle. During the colder months, I can be a certified couch potato and enjoy getting too invested in TV shows of questionable quality.</p>
    </div>
  </div>

{% endblock %}
