{% extends "base.html" %}

{% block content %}

  <div class="container">
    <div class=" page-title">
      <h1>Kirsten Corrao</h1>
    </div>
    
    <div class="row mx-3 my-3">
        <div class="col-sm text-center">
          <h6>BS in Computer Science (12/2020)</h6>
        </div>
        <div class="col-sm text-center">
          <h6>BS in Natural Resources (2017)</h6>
        </div>
        <div class="col-sm text-center">
          <h6>AA in Chinese (2008)</h6>
        </div>
    </div>

    <div class="row justify-content-center mx-3 my-3">
      <img src="/public/me_small.jpg" alt="Me backpacking in the Canadian Rockies">
    </div>
    <div class="row justify-content-center mx-3 my-3"></div>
      <p>I'm a GIS Analyst Intern looking for a full-time role in GIS and software development. I'm a US Air Force veteran, earned a BS in natural resources from the University of British Columbia, and am two classes away from completing another BS in computer science through Oregon State University's online program. Although my passion is GIS, I decided to further my education in computer science to lay a better foundation in programming and web development, which I believe will only become more important in the GIS career field.</p>
      <p>Through my coursework and internship, I have gained experience in several programming languages, frameworks, and technologies. I am also experienced with ESRI products, especially ArcGIS Pro, ArcMap, and Collector. I've worked with Model Builder, ArcPy, and many Python libraries to automate tasks. I am particularly interested in scripting, backend development, and web map visualization.</p>
      <p>When not working or studying, I love spending time in the great outdoors, camping in my Japanese import van, and cruising around town on my bicycle. During the colder months, I can be a certified couch potato and enjoy getting too invested in TV shows of questionable quality.</p>
    </div>
  </div>

{% endblock %}
