{% extends "base.html" %}

{% block content %}

  <div class="container">
    <div class="page-title">
        <h1>Maps</h1>
    </div>
    
    <div class="row mt-3 mb-5">
        <div class="col-sm">
            <div class="card h-100">
                <div class="card-body">
                    <img class="card-img-top" src="/public/elevation_small.jpg" alt="Small image of the elevation map">
                    <h5 class="card-title">Elevation Map</h5>
                    <p class="card-text">Elevation of northern Umatilla National Forest</p>
                    <a href="#elevation" class="card-link">Link</a>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card h-100">
                <div class="card-body">
                    <img class="card-img-top custom-card-image" src="/public/slope_small.jpg" alt="Small image of the slope map">
                    <h5 class="card-title">Slope Map</h5>
                    <p class="card-text">Slope of northern Umatilla National Forest</p>
                    <br>
                    <a href="#slope" class="card-link">Link</a>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card h-100">
                <div class="card-body">
                    <img class="card-img-top custom-card-image" src="/public/suitability_small.jpg" alt="Small image of the slope map">
                    <h5 class="card-title">Suitability Analysis Map</h5>
                    <p class="card-text">Camping suitability map of Walla Walla Ranger District</p>
                    <a href="#camping" class="card-link">Link</a>
                </div>
            </div>
        </div>
    </div>

    <hr>

    <div id="elevation" class="project-title">
        <h3>Elevation map of northern Umatilla National Forest</h3>
    </div>

    <img class="project-image" src="/public/elevation_mid_quality.jpg" alt="">

    <div class="my-2">
        <p>For this map, I gathered DEM datasets for southeastern WA from the <a href="http://gis.ess.washington.edu/data/raster/tenmeter/byquad/"> University of Washington.</a> For northeastern OR, I downloaded the data from the state of Oregon's <a href="https://www.oregon.gov/geo/Pages/sdlibrary.aspx">(somewhat glitchy) FTP server</a>.</p>

        <p>I used the Clip Raster tool to match the DEM and TIF files to the forest's boundaries. Since there were so many files, I wrote a small ArcPy script to expedite the process. An added bonus is that this script can be modified for any task that needs to iterate through files inside a folder and perform some task on each file.</p>

        <pre><code>
            import os 

            gdb_folder = 'YOUR_GDB_FOLDER_HERE'
            dem_folder = 'YOUR_DEM_FOLDER_HERE'
            feature_class_path = 'YOUR_FEATURE_CLASS_PATH'
            raster_name_ending = 'YOUR_RASTER_ENDING_HERE'

            arcpy.env.workspace = gdb_folder

            arcpy.env.workspace = r'D:\Forest Service\umatilla.gdb'
            for entry in os.listdir(dem_folder):
                if entry.endswith('.dem') or entry.endswith('.tif'):
                    arcpy.Clip_management(f'{dem_folder}\{entry}', '#', f'{entry[:-4]}{raster_name_ending}', feature_class_path, '0', 'ClippingGeometry')
        </code></pre>

        <p>After clipping, I merged all of the DEMs into a single raster using the Mosaic to New Raster tool. I chose symbology that highlights higher elevation areas and offers enough contrast with the surrounding basemap. I included wilderness areas, because my interests with slope in this area involve recreational opportunities both inside and outside the wilderness. For the final map, I also included an inset map to illustrate Umatilla National Forest's location to those who aren't familiar with it.</p>

    </div>
        
    <hr>
              
    <div id="slope" class="project-title">
        <h3>Slope map of northern Umatilla National Forest</h3>
    </div>

    <img class="project-image" src="/public/slope_mid_quality.jpg" alt="">

    <div class="my-2">
        <p>To generate slope, I used the Slope tool, which automatically calculates slope from a DEM raster. This created a highly detailed slope raster that  my computer could hardly render, so I simplified it with the Aggregate tool. For the map, I chose a similar style and color scheme as the elevation map to highlight areas of high slope.</p>
    </div>

    <hr>

    <div id="camping" class="project-title">
        <h3>Camping suitability map of Walla Walla Ranger District</h3>
    </div>   

    <img class="project-image" src="/public/camping_suitability_ww.jpg" alt="">

    <div class="my-2">
        <p>This map was produced due to my unending quest to find optimal dispersed camping sites accessible by vehicle in my local national forest. I aimed to create a tool that will help me find campsites within a certain elevation range with minimal slope, that are also close to roads and a water source. This analysis uses a binary system of suitable-nonsuitable, but I would like to expand it to display a score of suitability for the entire ranger district. I created a model in Model Builder, so that it's simple to run the tool with different parameters.</p>
    </div>

    <img class="project-image" src="/public/model_camping.jpg" alt="">

    <div class="my-2">
        <p>I used the Raster Calculator to create a raster of only areas that met certain conditions: between 3000 and 5000ft in elevation; at or below 10% slope; within 20m of a road and 100m of a stream. For my end product, I wanted a point representation of which areas would be worthwhile to investigate on my next camping trip. I converted the raster to a polygon using Raster to Polygon, then to points using Feature to Point. To eliminate any points within the wilderness (where I won't be able to drive and camp), I used the Erase tool. Still, many points were too close to each other and produced a busy map. The final step of the model is Integrate, to combine points that are within 200m of each other.
    </div>
    

  </div>

{% endblock %}
