{% extends "base.html" %}

{% block content %}

  <div class="container">
    <h1>Web Apps</h1>
    
    <div class="row mt-3 mb-5">
        <div class="col-sm">
          <div class="card h-100">
              <div class="card-body">
                <h5 class="card-title">Trails REST API</h5>
                <h6 class="card-subtitle mb-2 text-muted">Node.js/Express, Google App Engine, Datastore, Google People API, OAuth 2.0</h6>
                <p class="card-text">
                  This API serves data about trails, trailheads, and users using Google's NoSQL Datastore. Trails are created and "owned" by individual users, and each trail can be related to multiple trailheads. See GitHub for full documentation and usage. Note: as you'll see at the live website, frontend development was not the focus of this project!
                </p>
                <a href="https://github.com/kcroo/trails-api" class="card-link"  target="_blank">Github Link</a>
                <a href="https://trails-api.wl.r.appspot.com/" class="card-link"  target="_blank">Live Website</a>
              </div>
          </div>
        </div>

        <div class="col-sm">
          <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">Let's Go! Travel Planner</h5>
                <h6 class="card-subtitle mb-2 text-muted">Flask (Python), MySQL, Bootstrap</h6>
                <p class="card-text">
                  This website allows users to plan their next vacation. They can add destinations to their trip and keep track of activities that they'll do at each destination. Authentication is handled by Flask-Login, with passwords encrypted in the MySQL database.
                </p>
                <a href="https://github.com/kcroo/LetsGo" class="card-link"  target="_blank">Github Link</a>
            </div>
          </div>
        </div>

        <div class="col-sm">
          <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">This Website!</h5>
                <h6 class="card-subtitle mb-2 text-muted">Node.js/Express, Bootstrap, Heroku</h6>
                <p class="card-text">
                  This is a straight-forward website to display the various school and personal projects I've worked on lately. It is hosted on Heroku.
                </p>
                <a href="https://github.com/kcroo/LetsGo" class="card-link"  target="_blank">Github Link</a>
                <a href="https://kcroo-portfolio.herokuapp.com/" class="card-link"  target="_blank">Live Website</a>
            </div>
          </div>
        </div>
    </div>

  </div>

{% endblock %}
