h1, h2, h3, h4, h5, h6 {
    font-family: 'Ubuntu', sans-serif;
}

.navbar-brand, .dropdown-menu, .dropdown-item {
    font-family: 'Ubuntu', sans-serif;
}

img {
    width: 80%
}

hr {
    height: 0px;
    border: none;
    border-top: 5px solid rgb(73, 72, 72);
}

.card-img-top {
    max-height: 200px;
    min-height: 200px;
    object-fit: cover;
}
